\[C++\ Primer\]-\[CN\].5th.\[Stanley\ B.\ Lippman&Josee\ Lajoie&Barbara\ E.\ Moo\].pdf
\[Orange\'s-一个操作系统的实现\].2nd.\[于渊\].pdf
\[Python基础教程\].2nd.\[Magnus\ Lie\ Hetland\].pdf
\[计算机程序设计艺术\]-\[第1卷\].3rd.\[Donald\ Knuth\].pdf
\[计算机程序设计艺术\]-\[第2卷\].3rd.\[Donald\ Knuth\].pdf
\[计算机程序设计艺术\]-\[第3卷\].2nd.\[Donald\ Knuth\].pdf
\[计算机组成与设计\]-\[硬件-软件接口\].5th.\[David\ A.\ Patterson&John\ L.\ Hennessy\].pdf
\[深入理解计算机系统\].3rd.\[Randal\ E.\ Bryant&David\ R.\ O\'Hallaron\].pdf
